<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<div class="jumbotron"><h1 id="jumbo">Welcome to Burger!</h1></div>
			<div class="jumbotron">
			<img src="https://i.ytimg.com/vi/Mnb_3ibUp38/maxresdefault.jpg" id="jules" alt="burger" /></div>
			<h1> EAT THE DAMN BURGER </h1>
		</div>
		<div class="col-md-6 text-center" class="pre">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					{{!-- {{this.id}}. {{this.burger_name}} --}}
					<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly></pre>
					
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" id="newburger" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default" id ="eatme">EAT ME!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="pre">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
				  {{!-- {{this.id}} . {{this.burger_name}} --}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly></pre>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>You want burger</p>
		</div>
	</div>
</div>
