<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devourable}}EAT UP!{{else}}NOT YET!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
